<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/service">Service</a></li>
</ul>

<ul>
  <li><a href="uz">uz</a></li>
  <li><a href="en">eng</a></li>
</ul>